<h1>Delivery example</h1>
<div>
    In this example we use the <code>InterceptorStrategy</code> class to configure
    pre-serialization/post-deserialization interceptors within the @ngxs-labs/storage-plugin. The pre-serialization
    interceptor keeps the width, length and height for a parcel but excludes the description from being serialized. The
    post-serialization interceptor instantiates the <code>ShipmentStateModel</code> and the
    <code>AccountStateModel</code> concrete classes.
</div>
<app-shipment></app-shipment>
<app-account></app-account>
